<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello LoginStudy!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">

            <!--
            http://stackoverflow.com/questions/34272706/delete-link-not-working-phoenix
            http://www.phoenixframework.org/docs/static-assets
            -->

          <%= if logged_in?(@conn) do %>
            <li><%= current_user(@conn).email %>(ID=<%= current_user(@conn).id %>)</li>
            <li><%= link "ログアウト", to: login_path(@conn, :delete), method: :delete %></li>
          <% else %>
            <li><%= link "ユーザ登録", to: register_path(@conn, :new) %></li>
            <li><%= link "ログイン", to: login_path(@conn, :new) %></li>
            <li><%= link "ID1でログインしちゃう", to: login_path(@conn, :login1) %></li>

            <li><%= link "facebook login", to: "/social_login/facebook" %></li>
            <li><%= link "twitter login", to: "/social_login/twitter" %></li>
          <% end %>

<!--
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
-->

          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
